body {
  background: url(../images/bg.jpg) 50% 42% no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.fp-search {
  color: #444;
}
.fp-search:focus {
  outline: none !important;
}
footer {
  height: 80px;
  position: absolute;
  bottom: 10px;
  width: 80%;
  margin: auto;
}
#search {
  margin-top: 100px;
}
