@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto');
body {
  background: url(../images/bg.jpg) 50% 42% no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}
#search {
  color: #fff;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.1em;
}
.fp-search {
  color: #444;
}
.fp-search:focus {
  outline: none !important;
}
.main-content {
  margin-top: 40px;
  box-sizing: border-box;
  background-color: #fff;
  min-height: 400px;
}
.padding-25 {
  padding: 25px;
}
.modal-content,
.container {
  overflow: hidden;
}
footer {
  color: #fff;
  height: 80px;
  width: 80%;
  margin: auto;
}
#search {
  margin-top: 100px;
  width: 100%;
  padding: 50px;
}
.summary-price {
  padding: 5px;
  background: #e6e6e6;
  display: block;
  text-align: center;
}
.summary-price strong {
  font-size: 1.1em;
  display: block;
}
.summary-price p {
  font-size: 1.3em;
}
.errors {
  margin: 5px 0;
}
.errors .error {
  font-size: .9em;
  color: #dc3545;
}
#search input {
  padding: 5px;
}
input.fechavuelo {
  background: #d22536;
  border: none;
  color: #fff;
  text-align: center;
  padding: 5px;
  width: 80%;
}
